credentials:
  google_sheets_readonly:
    type: google_service_account_file
    path: secrets/google_sheets_readonly.json

  google_application_default:
    type: google_application_default

  github_readonly:
    type: token_file
    path: secrets/github_readonly_token
